body {
  background-color: OliveDrab;
  color: white;
}
.box {
  background-color: DarkOliveGreen;
}
.circle {
  height: 150px;
  width: 150px;
  border: solid 1px;
  border-radius: 50%;
  display: inline-block;
  }
.number {
  background-color: Purple;
}
.symbol {
  background-color: Crimson;
}
